/* src/components/AwardsSection.css */
.awards-section {
    padding: 100px 0;
    background-color: #111;
    text-align: center;
  }
  
  .section-subheading {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .section-heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #32E0AE;
    margin-bottom: 20px;
  }
  
  .section-description {
    font-size: 1.1rem;
    color: #bfbfbf;
    margin-bottom: 50px;
  }
  
  .award-box {
    padding: 46px !important;
    background-color:#FFC93E !important;
    border-radius: 12px;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  .award-box:hover {
    background-color: #00d4ff;
    color: #000;
  }
  
  .award-image {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .award-box h4 {
    font-size: 1.2rem;
    color: #003756 !important;
    margin-bottom: 10px;
  }
  
  .award-box p {
    font-size: 1rem;
    color: #000000 !important;
  }
  