/* src/App.css */

/* Stats Section */
.stats-section {
    padding: 50px 0;
    background: none; /* Transparent, blending with the background of the section */
  }
  
  .stat-value {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  .stat-label {
    font-size: 1rem;
    color: #32E0AE !important;
  }
  
  @media (max-width: 768px) {
    .stat-value {
      font-size: 2rem;
    }
  
    .stat-label {
      font-size: 0.9rem;
    }
  }
  